.date-filter,
.search-filter {
  display: inline-block;
}

.date-filter label,
.search-filter label,
.search-filter input {
  margin-right: 10px;
  margin-left: 10px;
}

.search-filter input {
  width: 500px;
}

button.btn-search {
  margin-right: 5px;
}
