.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 10px;
}

.login-logout-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
